/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/15/2023, 02:47:28 AM
    Author     : DELL
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Oswald", sans-serif;
    --sub-font: "PT Sans Narrow", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;

    --main-color: #0B162C;
    --title-color: #BA2046;
    --color-gris: #D6D6D6;
    --color-dorado: #D4AF37;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url('https://i.pinimg.com/originals/a5/a1/8a/a5a18ab560732dac7d06a67ab081b7c7.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

body, input, button{
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

input, button{
    border: none;
    outline: none;
}

/*=============== LOGIN ===============*/
.login{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: rgba(0, 0,0, 0.4);
}

.login__form{
    position: relative;
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
}

.login__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}

.login__content, .login__box{
    display: grid;
}

.login__content{
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.login__box{
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--white-color);
}

.login__icon, .login__eye{
    font-size: 1.25rem;
}

.login__input{
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

.login__box-input {
    position: relative;
}

.login__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition: top 0.3s, font-size 0.3s;
}

.login__eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
}

.login__box:nth-child(2) input{
    padding-right: 1.8rem;
}

.login__check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.login__forgot{
    font-size: 1.1rem;
    font-family: var(--sub-font);
}

.login__forgot {
    color: var(--white-color);
}

.login__forgot:hover{
    text-decoration: underline;
}

.login__button{
    color: white;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--main-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: .2s;
}

.login__button:hover{
    transform: scale(1.1);
}

/* Input focus move up label */
.login__input:focus + .login__label {
    top: -12px;
    font-size: var(--small-font-size);
}

.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
    top: -12px;
    font-size: var(--small-font-size);
}

p .login__home{
    color: var(--title-color);
}

.login__home:hover{
    text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 576px) {
    .login {
        justify-content: center;
    }

    .login__form {
        width: 432px;
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }

    .login__title {
        font-size: 2rem;
    }
}
